{% load static %}
<footer class="fter">
    <div class="fter-content">
        <div class="lista-sponsors">
            <img src="{% static 'reservas/imgs/wahl-logo-black-and-white.png' %}" alt="">
            <img src="{% static 'reservas/imgs/logobabylisspro.png' %}" alt="">
            <img src="{% static 'reservas/imgs/wahl-logo-black-and-white.png' %}" alt="">
            <img src="{% static 'reservas/imgs/andis-company-vector-logo-2022.png' %}" alt="">
            <img src="{% static 'reservas/imgs/logobabylisspro.png' %}" alt="">

            <img src="{% static 'reservas/imgs/wahl-logo-black-and-white.png' %}" alt="">
            <img src="{% static 'reservas/imgs/logobabylisspro.png' %}" alt="">
            <img src="{% static 'reservas/imgs/wahl-logo-black-and-white.png' %}" alt="">
            <img src="{% static 'reservas/imgs/andis-company-vector-logo-2022.png' %}" alt="">
            <img src="{% static 'reservas/imgs/logobabylisspro.png' %}" alt="">
        </div>
    </div>
    <div class="descripcion">
        <div class="descripcion-content">
            <div class="descripcion-card">
                <h4>DaniBarber</h4>
                <span>Estilo, precisión y actitud en cada corte. Aquí no solo te arreglas el pelo: sales con una versión mejor de ti.</span>
                <span>Lunes - Viernes : 09:00 / 21:00</span>
            </div>
            <div class="descripcion-card">
                <h4>DaniBarber</h4>
                <span>dwadawdwdwad</span>
                <span>Lunes - Viernes : 09:00 / 21:00</span>
            </div>
            <div class="descripcion-card">
                <h4>DaniBarber</h4>
                <span>dwadawdwdwad</span>
                <span>Lunes - Viernes : 09:00 / 21:00</span>
            </div>
        </div>
    </div>
    <div class="derechos">
        <div class="derechos-content">
            <span>© 2026, Todos los derechos reservados</span>
        </div>
    </div>
</footer>