<nav class="navbar">

    <div class="navbar-content">

        <div class="logo">
            DaniBarber
        </div>

        <div class="navbar-links">
            <a href="{% url 'reservas:home' %}">Home</a>
            <a href="{% url 'reservas:servicios' %}">Servicios</a>
            <a href="{% url 'reservas:somos' %}">Quiénes somos</a>
            <a href="{% url 'reservas:contactos' %}">Contacto</a>
        </div>

        <div class="auth">
            {% if user.is_authenticated %}

                <span><a href="{% url 'users:perfil' %}">👤 {{ user.username }}</a></span>

                <a href="{% url 'reservas:crear_reserva' %}" class="enlace">¡Reserva ya!</a>
            {% else %}
                <a href="{% url 'users:login' %}" class="a-login">Login</a>
            {% endif %}
        </div>

    </div>

</nav>