{% extends "reservas/../base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reservas/css/servicios.css' %}">
{% endblock %}

{% block title %}Servicios - Barbería{% endblock %}

{% block content %}
    <section class="hero"
             style="background-image: url('{% static 'reservas/imgs/close-up-hands-shaving-neck.jpg' %}')">
        <div class="hero-center">
            <div class="hero-content">
                <h1>Servicios de la Barbería 💈</h1>
                <span><a href="{% url 'reservas:home' %}">Home</a></span>
                <span> / </span>
                <span class="banner">Servicios</span>
            </div>
        </div>
    </section>

    <section class="servicios">
        <div class="servicios-content">
            <h2>Nuestros servicios</h2>
            <p>Nuestros servicios de barbería están pensados para cuidar tu estilo de forma completa, combinando
                técnicas tradicionales y modernas para ofrecerte siempre el mejor resultado.
            </p>
            <div class="galleria-imgs">
                <div class="imgs-card">
                    <div class="img-wrapper">
                        <img src="{% static 'reservas/imgs/silver-machine-haircut.jpg' %}" alt="">
                    </div>
                    <h3>Estilos De Pelado</h3>
                    <p>Cortes, barba, afeitado y cuidado capilar con estilo profesional.</p>
                </div>
                <div class="imgs-card">
                    <div class="img-wrapper">
                        <img src="{% static 'reservas/imgs/silver-machine-haircut.jpg' %}" alt="">
                    </div>
                    <h3>Corte De Barba</h3>
                    <p>Perfilado y arreglo de barba con acabado limpio y profesional.</p>
                </div>
                <div class="imgs-card">
                    <div class="img-wrapper">
                        <img src="{% static 'reservas/imgs/silver-machine-haircut.jpg' %}" alt="">
                    </div>
                    <h3>Lavado De Cabeza</h3>
                    <p>Lavado de cabello con limpieza profunda y cuidado del cuero cabelludo.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="experiencia"
             style="background-image: url('{% static 'reservas/imgs/close-up-hands-shaving-neck.jpg' %}')">
        <div class="experiencia-content">
            <div class="skills">
                <div class="skill">
                    <div class="skill-header">
                        <span class="skill-name">Pelado</span>
                        <span class="skill-percent">90%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-header">
                        <span class="skill-name">Recorte</span>
                        <span class="skill-percent">70%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: 70%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-header">
                        <span class="skill-name">Afeitado</span>
                        <span class="skill-percent">80%</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress-fill" style="width: 80%;"></div>
                    </div>
                </div>
            </div>
            <div class="texto">
                <h3>Experiencia y Habilidades</h3>
                <p>Con experiencia y pasión por el detalle, ofrecemos cortes con estilo y personalidad.
                    Cada visita es una experiencia única para resaltar tu mejor versión.
                </p>
                <a href="{% url 'reservas:somos' %}" class="btn">Leer Más</a>
            </div>
        </div>
    </section>

{% endblock %}