{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block title %}Login - Barbería{% endblock %}

{% block content %}
<section class="login-section">
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}

            {{ form.username }}
            {{ form.password }}

            <button type="submit" class="btn">Entrar</button>
        </form>

        <!-- Nuevo enlace de registro -->
        <div class="register-link">
            <p>¿No estás registrado? <a href="{% url 'reservas:home' %}">¡Haz clic aquí!</a></p>
        </div>
    </div>
</section>
{% endblock %}