* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Playfair Display", serif;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    /* Eliminamos el display flex y align-items center */
    display: block;
}